step-functions/state-machine.asl.json
{
  "StartAt": "GetParametersForPDF",
  "Comment": "",
  "States": {
    "GetParametersForPDF": {
      "Type": "Choice",
      "Comment": "Make Calls to external APIs to get relevant information",
      "Choices": [
        {
          "Variable": "$.provider",
          "StringEquals": "A",
          "Next": "GetCompanyA"
        },
        {
          "Variable": "$.provider",
          "StringEquals": "B",
          "Next": "GetCompanyB"
        }
      ],
      "Default": "GetCompanyDefault"
    },
    "GetCompanyA": {
      "Type": "Task",
      "Comment": "Get Information for Company A",
      "Resource": "${CompanyAArn}",
      "Next": "SendNotification"
    },
    "GetCompanyB": {
      "Type": "Task",
      "Comment": "Get Information for Company b",
      "Resource": "${CompanyBArn}",
      "Next": "SendNotification"
    },
    "GetCompanyDefault": {
      "Type": "Task",
      "Comment": "Get Information for Company Default",
      "Resource": "${CompanyDefaultArn}",
      "Next": "SendNotification"
    },
    "SendNotification": { 
        "Type": "Task",
        "Comment": "Send information back via a websocket",
        "Resource": "${SendNotificationArn}",
        "End": true
    }
  }
}
