step-functions/state-machine.asl.json
{
  "StartAt": "GetParametersForPDF",
  "Comment": "",
  "States": {
    "GetParametersForPDF": {
      "Type": "Choice",
      "Comment": "Make Calls to external APIs to get relevant information",
      "Choices": [
        {
          "Variable": "$.provider",
          "StringEquals": "A",
          "Next": "GetCompanyAParallel"
        },
        {
          "Variable": "$.provider",
          "StringEquals": "B",
          "Next": "GetCompanyB"
        }
      ],
      "Default": "GetCompanyDefault"
    },
    "GetCompanyAParallel": {
      "Type": "Parallel",
      "Comment": "Get information in parallel for Company A",
      "Branches": [
        {
          "StartsAt": "GetCompanyA",
          "States": {
            "GetCompanyA": {
              "Type": "Task",
              "Comment": "Get Information for Company A",
              "Resource": "${CompanyAArn}",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "NotifyError",
                  "ResultPath": "$.error"
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartsAt": "GetCompanyATwo",
          "States": {
            "GetCompanyATwo": {
              "Type": "Task",
              "Comment": "Get Information for Company A Second",
              "Resource": "${CompanyA2Arn}",
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "NotifyError",
                  "ResultPath": "$.error"
                }
              ],
              "End": true
            }
          }
        }
      ]
    },
    "CombineCompanyA": { 
      "Type": "Pass",
        "Parameters": {
          "clientId": "$[0].clientId",
          "provider": "$[0].provider",
          "text": "States.Format('{} {}', $[0].text, $[1].text)"
        },
        "Next": "GeneratePDF"
    },
    "GetCompanyB": {
      "Type": "Task",
      "Comment": "Get Information for Company b",
      "Resource": "${CompanyBArn}",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "GeneratePDF"
    },
    "GetCompanyDefault": {
      "Type": "Task",
      "Comment": "Get Information for Company Default",
      "Resource": "${CompanyDefaultArn}",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "GeneratePDF"
    },
    "GeneratePDF": {
      "Type": "Task",
      "Comment": "Generate the PDF and send to s3",
      "Resource": "${GeneratePDFArn}",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyError",
          "ResultPath": "$.error"
        }
      ],
      "Next": "SendNotification"
    },
    "NotifyError": {
      "Type": "Task",
      "Comment": "Send information back via a websocket",
      "Resource": "${SendErrorArn}",
      "End": true
    },
    "SendNotification": {
      "Type": "Task",
      "Comment": "Send information back via a websocket",
      "Resource": "${SendNotificationArn}",
      "End": true,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "NotifyError",
          "ResultPath": "$.error"
        }
      ]
    }
  }
}
